* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100hv;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cajitas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 900px;
    background-color: rgb(0, 0, 0);
}

.cajita {
    width: 100px;
    height: 100px;
    background-color: rgb(228, 161, 62);
    display: grid;
    place-items: center;
}

.tarjetitas {
    display: flex;
    width: 1100px;
    gap: 3rem;
}

.tarjetita {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    background-color: hotpink;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.tarjetita img {
    max-width: 100%;
}


/***TRANSITIONS***/

.cajita1 {
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    /*transition: width 1s, background-color 10s;*/
    /*transition: all 1s 1s;*/
}

.cajita1:hover {
    width: 100%;
    background-color: rgb(3, 3, 190);
}


/***ANIMATIONS***/

.cajita2 {
    /*animation: cajita2Movimiento 2s;*/
    animation-name: cajita2Movimiento;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cajita2Movimiento {
    from {
        width: 300px;
        background-color: rgb(228, 221, 221);
    }
    to {
        width: 100%;
        background-color: rgb(109, 2, 2);
    }
    /*25% {
        width: 30%;
    }
    50% {
        width: 60%;
    }
    100% {
        width: 100%;
        background-color: black;
    }*/
}

/*** BACKGROUND GRADIENTS ***/


.cajita3 {
    background: rgb(107,159,132);
background: linear-gradient(90deg, rgba(107,159,132,1) 11%, rgba(166,72,164,1) 66%, rgba(0,212,255,1) 93%);
}

.cajita4 {
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}


/***TRANSFORMS***/

/*.cajita3 {
    transform: matrix(1,2,3,4,5,6);
}*/

.cajita3{
    transition: transform 1s;
}
.cajita3:hover {
    transform: scale(2);
    transform: rotate(140deg) scale(2) skew(30deg);
}

.tarjetita{
    transition: transform 1s;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.tarjetita:hover {
    transform: scale(1.1) translateY(-60px);
}

.video {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

/*** ANIMISTA ***/
.roll-in-blurred-left{-webkit-animation:roll-in-blurred-left .65s cubic-bezier(.23,1.000,.32,1.000) both;animation:roll-in-blurred-left .65s cubic-bezier(.23,1.000,.32,1.000) both}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-5 21:39:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes roll-in-blurred-left{0%{-webkit-transform:translateX(-1000px) rotate(-720deg);transform:translateX(-1000px) rotate(-720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes roll-in-blurred-left{0%{-webkit-transform:translateX(-1000px) rotate(-720deg);transform:translateX(-1000px) rotate(-720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}



 .tarjetita {
    -webkit-animation:tilt-in-top-1 .6s cubic-bezier(.25,.46,.45,.94) both;
    animation:tilt-in-top-1 .6s cubic-bezier(.25,.46,.45,.94) both
}


.tarjetita1 {
    animation-delay: 1s;
}
.tarjetita2 {
    animation-delay: 2s;
}
.tarjetita3 {
    animation-delay: 3s;
}

 

 @keyframes tilt-in-top-1{0%{transform:rotateY(30deg) translateY(-300px) skewY(-30deg);opacity:0}100%{transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}

 .tarjetas {
    display: flex;
    width: 1100px;
    gap: 3rem;
}

.tarjeta {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    background-color: hotpink;
}

